<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ padname }} / Pad</title>
  <link href="/static/normalize.css" rel="stylesheet" />
  <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <textarea class="content" spellcheck="true">{{ content }}</textarea>
  </div>
  <pre class="print"></pre>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="/static/jquery.textarea.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
